<div class="footer-basic">
    <footer>
     <center><h2 style="font-family: 'Bree Serif', serif;">Connect Us</h3></center>
        <div class="social"><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-instagram"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-linkedin-in"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#home">Home</a></li>
            <li class="list-inline-item"><a href="#about">About</a></li>
            <li class="list-inline-item"><a href="#departments_teams">Teams and Departments</a></li>
            <li class="list-inline-item"><a href="#blogs">Blogs</a></li>
            <li class="list-inline-item"><a href="#contact">Contact Us</a></li>
        </ul>
        <p class="copyright"> © Copyrights WiTech India. All rights reserved.</p>
    </footer>
  </div>