<div class="footer-basic">
    <footer>
     <center><h2 style="font-family: 'Bree Serif', serif;">Connect Us</h3></center>
        <div class="social"><a href="https://www.facebook.com/WiTech-India-109011350876714/?hc_ref=ARQht3tHRWeBAFFs9wbM0B_VcjGukGg3QXKOQ3VGlIqXkmWHWHBvfQm6ANXwamjBP3s&fref=nf&__tn__=kC-R"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/witech.india/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/witech_india?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://in.linkedin.com/company/witech-india" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="mailto:witech.india@gmail.com"><i class="far fa-envelope" target="_blank"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Home</a></li>
            <li class="list-inline-item"><a href="/about">About</a></li>
            <li class="list-inline-item"><a href="/#services">Teams and Departments</a></li>
            <li class="list-inline-item"><a href="/blogs">Blogs</a></li>
            <li class="list-inline-item"><a href="/#contact">Contact Us</a></li>
        </ul>
        <p class="copyright"> © Copyrights WiTech India. All rights reserved.</p>
    </footer>
  </div>