<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <img src="/assets/images/witechlogo.png" style="background-color:white; border-radius: 50px;"alt="Logo" class="img" >
      <a id="title_1" class="navbar-brand" href="/"><span style="color: black; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >WiTech India</h1><span style="color:rgb(255, 107, 8);">.</span></a>
      <button class="navbar-toggler" style="border: 1px solid black; background-color: rgb(255, 177, 60);color: white;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a id="nav-color" class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a id="nav-color" class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a id="nav-color" class="nav-link" href="#testimonial_section">Testimonials</a>
          </li>
          
          <li class="nav-item">
            <a id="nav-color" class="nav-link" href="#services">Teams and Departments</a>
          </li>
          <li class="nav-item">
            <a id="nav-color" class="nav-link" href="#recent_events">Recent Events</a>
          </li>
          <li class="nav-item">
            <a id="nav-color" class="nav-link" href="#blogs">Blogs</a>
          </li>
          <li class="nav-item">
            <a id="nav-color" class="nav-link" href="#contacts">Contact Us</a>
          </li>
          <li class="nav-item active fs-5 px-3">
            <a id="nav-color" class="nav-link" aria-current="page" href="/covid">Get Covid-19 info</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
