
<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <img src="/assets/images/witechlogo.png" style="background-color:white; border-radius: 50%;height: 50px;width: 50px;"alt="Logo" class="img" >
      <a id="title_1" class="navbar-brand" href="/"><span style="color: black; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >WiTech India</h1><span style="color:rgb(255, 107, 8);">.</span></a>
      <button class="navbar-toggler" style="border: 1px solid black; background-color: rgb(255, 177, 60);color: white;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a id="nav-color" class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a id="nav-color" class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a id="nav-color" class="nav-link" href="/#testimonial_section">Testimonials</a>
          </li>
          <li class="nav-item">
            <a id="nav-color" class="nav-link" href="/#services">Departments</a>
          </li>
          <li class="nav-item">
            <a id="nav-color" class="nav-link" href="/#recent_events">Recent Events</a>
          </li>
          <li class="nav-item">
            <a id="nav-color" class="nav-link" href="/blogs">Blogs</a>
          </li>
          <li class="nav-item">
            <a id="nav-color" class="nav-link" href="/#contacts">Contact Us</a>
          </li>
          <li class="nav-item ">
            <a id="nav-color" class="nav-link" aria-current="page" href="/covid">Covid-19</a>
          </li>
          <!-- https://accounts.zoho.com/oauth/v2/auth?response_type=code&client_id=1000.TKO2A7GBFUUHWC0PPDWAQL7JOCL4CT&scope=ZohoSheet.dataAPI.UPDATE,ZohoSheet.dataAPI.READ&redirect_uri=http://localhost:5000/authcallback&access_type=offline&prompt=consent -->
          <%if(loginStatus == false){%>
              <li class="nav-item ">
                <a id="nav-color" class="nav-link" aria-current="page" href="/login">Sign In</a>
              </li>
          <%}else{%>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"style="color:black;" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user" style="color: black;"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/profile">Profile</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/logout">Log Out</a>
                </div>
              </li>
            <%}%>
            
        </ul>
      </div>
    </div>
  </nav>
