<div class="container-teams">
  <div class="select-button">
    <input type="radio" style="cursor: pointer;" name="position" checked />
    <input type="radio" style="cursor: pointer;background-color: orange;" name="position" />
    <input type="radio" style="cursor: pointer;" name="position" />
    <input type="radio" style="cursor: pointer;" name="position" />
    </div>
    <main id="carousel">
      <div class="item" >
        <img src="/assets/images/saakshi.jpeg" style="height: 200px; width: 200px; border-radius: 50%; background-size: cover;border: 3px solid blacksmoke;">
        <h4 class="font-weight-bold mb-4">Saakshi Malhotra</h4>
                <span>Director</span>
                <hr class="teams-line">
                <!--Quotation-->
                <p class="dark-grey-text mt-4">It's not only the skill but also the intentions and zeal
                  that you put in your work makes it worthy</p>
                  <a href="https://www.linkedin.com/in/nipun-walia-28969a145" style="text-decoration: none; color: black;"><i class="fab fa-linkedin-in" style="font-size: x-large;"></i></a>
                  <a href="mailto:"style="text-decoration: none; color: black;padding: 10px;"><i class="far fa-envelope" style="font-size: x-large;"></i></a>
      </div>
      <div class="item">
        <img src="/assets/images/aditi_aggrawal.jpg" style="height: 200px; width: 200px; border-radius: 50%; background-size: cover;border: 3px solid blacksmoke;">
        <h4 class="font-weight-bold mb-4">Aditi Agarwal</h4>
                <span>HR-WiTech India</span>
                <hr class="teams-line">
                <!--Quotation-->
                <p class="dark-grey-text mt-4">It's not only the skill but also the intentions and zeal
                  that you put in your work makes it worthy</p>
                  <a href="https://www.linkedin.com/in/nipun-walia-28969a145" style="text-decoration: none; color: black;"><i class="fab fa-linkedin-in" style="font-size: x-large;"></i></a>
                  <a href="mailto:aditiaga1998@gmail.com"style="text-decoration: none; color: black;padding: 10px;"><i class="far fa-envelope" style="font-size: x-large;"></i></a>
      </div>
      <div class="item">
        <img src="/assets/images/nipun_walia.jpg" style="height: 200px; width: 200px; border-radius: 50%; background-size: cover;border: 3px solid blacksmoke;">
        <h4 class="font-weight-bold mb-4">Nipun Walia</h4>
                <span>Technical Head</span>
                <hr class="teams-line">
                <!--Quotation-->
                <p class="dark-grey-text mt-4">Technology is the most innovative way of moving forward and getting the youth together.
                   </p>
                  <a href="https://www.linkedin.com/in/nipun-walia-28969a145" style="text-decoration: none; color: black"><i class="fab fa-linkedin-in" style="font-size: x-large;"></i></a>
                  <a href="mailto:nipun.walia2018@gmail.com"style="text-decoration: none; color: black;padding: 10px;"><i class="far fa-envelope" style="font-size: x-large;"></i></a>
      </div>
      <div class="item">
        <img src="/assets/images/Anshika.jpg" style="height: 200px; width: 200px; border-radius: 50%; background-size: cover;border: 3px solid blacksmoke;">
        <h4 class="font-weight-bold mb-4">Anshika Agarwal</h4>
                <span>Marketing Department</span>
                <hr class="teams-line">
                <!--Quotation-->
                <p class="dark-grey-text mt-4">It's not only the skill but also the intentions and zeal
                  that you put in your work makes it worthy</p>
                  <a href="https://www.linkedin.com/in/nipun-walia-28969a145" style="text-decoration: none; color: black;"><i class="fab fa-linkedin-in" style="font-size: x-large;"></i></a>
                  <a href="mailto:"style="text-decoration: none; color: black;padding: 10px;"><i class="far fa-envelope" style="font-size: x-large;"></i></a>
      </div>
</main>

</div>
          
