<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="/assets/images/witechlogo.png">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
    <title>Blogs</title>
</head>

<body class="mainn">
    <a id="myBtn" href="#top" title="Go to top"><i class="fas fa-arrow-alt-circle-up fa-3x" style="color:  rgb(255, 187, 0);;"></i></a>
    <a href="" class="fs-5" style="color: aliceblue; ">Logout</a> <br>
    <a href="" class="fs-5" style="color: aliceblue; ">Go Back</a>
    <div class="container cardd table-responsive">
        <h1 class="text-center">Mentors and Joinees</h1>
        <table class="table table-borderless table-striped table-warning">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Image-1</th>
                <th scope="col">Image-2</th>
                <th scope="col">Author</th>
                <th scope="col">Content</th>
                <th scope="col">E-mail</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>mark@jj.com</td>
                <td>04/10</td>
                <td>Male</td>
                <td>UP</td>
                <td>123sss1231</td>
                
                
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Mark</td>
                <td>mark@jj.com</td>
                <td>04/10</td>
                <td>Male</td>
                <td>UP</td>
                <td>123sss1231</td>
                
                
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>mark@jj.com</td>
                <td>04/10</td>
                <td>Male</td>
                <td>UP</td>
                <td>123sss1231</td>
                
                
              </tr>
            </tbody>
          </table>
    </div>



</body>

</html>