<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>Contact Page</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/assets/images/witechlogo.png" type="image/png">
        <link rel="stylesheet" type="text/css" href="stylesheets/contact.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/63b5dce89a.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class ="container-bg">
            <div class= "container">
            <div id="contact">
                <h1>CONTACT US <span style="color:rgb(255, 153, 0);">&#10095 </span>
                    <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quisquam rerum, voluptatem neque fugiat vel corporis soluta sunt sint illo, fugit excepturi quidem molestiae. Itaque nemo eos delectus sapiente debitis.</small>
                </h1>
            </div>
            </div><br>
        </div>

        <div class="container">
            <div class="col-lg-6 dfrom col-sm-6 col-xs-12">
                <div class="form" id="form">
                    <h3>Drop Us a Message</h3>
                    <form action="#" method="#">
                        <div class="form-group">
                            <label>Your Name:</label><br>
                            <input type="text" class="form-control" id="nName" name="nName"  placeholder="Enter Your Name" required>
                        </div><br>

                        <div class="form-group">
                            <label>Email address:</label><br>
                            <input type="email" class="form-control" id="nMail" name="nMmail" placeholder="Enter a valid email" required>
                        </div><br>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Subject:</label><br>
                            <input type="text" class="form-control" id="nSub" name="nSub" placeholder="Subject">
                        </div><br>

                        <div class="form-group">
                                <label for="exampleFormControlTextarea1">Your Message:</label><br>
                                <textarea class="form-control" id="nMessage" name="nMessage" rows="5" required placeholder="Enter Your Message"></textarea>
                            </div><br>
                        <a href="#" class="bt">Submit</a>   
                    </form>  
                </div>
            </div>
            <div id="contact_info">
                <h3>CONTACT INFO</h3>
                <br>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi odio, velit laborum cupiditate laudantium soluta blanditiis fugiat eaque quis voluptate facilis totam perspiciatis debitis. Quibusdam obcaecati ducimus laboriosam esse rerum.</p>
                <br>
                <i class="fas fa-map-marker-alt"></i> <br><br>
                <i class="fas fa-phone-alt"></i><br><br>
                <i class="far fa-envelope"></i>
            </div>
        </div>
        <script src="#"></script>        
    </body>  
</html>