<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/app.css">
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="/stylesheets/team.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="shortcut icon" type="image/png" href="/assets/images/witechlogo.png">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
  <title>WiTech India</title>
</head>

<body>

  <!-- start of navbar -->
  <%- include('partials/navbar')%>
    <!--end of navbar-->
<div id="slideshow-example" data-component="slideshow">
      <div role="list">
        <div class="slide w-100">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="background-size: cover;" viewBox="0 0 1920 1080">
            <defs>
              <filter id="christina-wocintechchat-com-UTw3j_aoIKM-unsplash" x="-43" y="-445" width="3057" height="2026" filterUnits="userSpaceOnUse">
                <feOffset dx="40" dy="3" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <filter id="Path_4" x="691.5" y="-7" width="289" height="1103.599" filterUnits="userSpaceOnUse">
                <feOffset dx="30" dy="2" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur-2"/>
                <feFlood flood-color="#fff" flood-opacity="0.451"/>
                <feComposite operator="in" in2="blur-2"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <filter id="Rectangle_3" x="126" y="544" width="558" height="125" filterUnits="userSpaceOnUse">
                <feOffset dy="3" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur-3"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur-3"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <filter id="Educate." x="279" y="560" width="236" height="92" filterUnits="userSpaceOnUse">
                <feOffset dx="5" dy="5" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur-4"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur-4"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <filter id="Empower." x="273" y="716" width="270" height="92" filterUnits="userSpaceOnUse">
                <feOffset dx="5" dy="5" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur-5"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur-5"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <filter id="Inspire." x="280" y="872" width="208" height="92" filterUnits="userSpaceOnUse">
                <feOffset dx="5" dy="5" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur-6"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur-6"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <filter id="Your_greatest_self_has_been_waiting_for_your_whole_life_don_t_make_it_wait_any_longer." x="1278" y="315" width="376" height="220" filterUnits="userSpaceOnUse">
                <feOffset dx="5" dy="5" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur-7"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur-7"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <clipPath id="clip-Web_1920_1">
                <rect width="1920" height="1080"/>
              </clipPath>
            </defs>
            <g id="Web_1920_1" data-name="Web 1920 – 1" clip-path="url(#clip-Web_1920_1)">
              <line id="Line_4" data-name="Line 4" x1="263" y1="123" transform="translate(1640.333 1063.5)" fill="none" stroke="#707070" stroke-width="1"/>
              <g id="Rectangle_1" data-name="Rectangle 1" fill="#fff" stroke="#707070" stroke-width="1">
                <rect width="1920" height="1080" stroke="none"/>
                <rect x="0.5" y="0.5" width="1919" height="1079" fill="none"/>
              </g>
              <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#christina-wocintechchat-com-UTw3j_aoIKM-unsplash)">
                <image id="christina-wocintechchat-com-UTw3j_aoIKM-unsplash-2" data-name="christina-wocintechchat-com-UTw3j_aoIKM-unsplash" width="3008" height="2008" transform="translate(-43 -439)" opacity="0.65" xlink:href="/assets/images/ui%20and%20ux/christina-wocintechchat-com-UTw3j_aoIKM-unsplash.jpg"/>
              </g>
              <path id="Path_1" data-name="Path 1" d="M676,0" fill="none" stroke="#707070" stroke-width="1"/>
              <path id="Path_3" data-name="Path 3" d="M768,282.4" fill="#ff8000" stroke="#707070" stroke-width="1"/>
              <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Path_4)">
                <path id="Path_4-2" data-name="Path 4" d="M874.517,728,938,1074.8H893.918L688-10.8h46.055" transform="translate(3.5 10.8)" fill="rgba(255,93,0,0.75)" opacity="0.91"/>
              </g>
              <path id="Path_5" data-name="Path 5" d="M664-8H-10.8V1085.2H872Z" transform="translate(10.8 8)" fill="rgba(250,155,61,0.42)" stroke="#707070" stroke-width="1"/>
              <rect id="Rectangle_2" data-name="Rectangle 2" width="619" height="507" rx="50" transform="translate(93 504)" fill="rgba(255,230,230,0.33)"/>
              <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Rectangle_3)">
                <rect id="Rectangle_3-2" data-name="Rectangle 3" width="540" height="107" rx="50" transform="translate(135 550)" fill="#ff5d00"/>
              </g>
              <rect id="Rectangle_4" data-name="Rectangle 4" width="535" height="102" rx="50" transform="translate(135 706)" fill="#ff5d00"/>
              <rect id="Rectangle_5" data-name="Rectangle 5" width="535" height="102" rx="50" transform="translate(135 862)" fill="#ff5d00"/>
              <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Educate.)">
                <text id="Educate.-2" data-name="Educate." transform="translate(392 623)" stroke="#707070" stroke-width="1" font-size="54" font-family="SegoeUI-Bold, Segoe UI" font-weight="700"><tspan x="-107.235" y="0">Educate.</tspan></text>
              </g>
              <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Empower.)">
                <text id="Empower.-2" data-name="Empower." transform="translate(403 779)" stroke="#707070" stroke-width="1" font-size="54" font-family="SegoeUI-Bold, Segoe UI" font-weight="700"><tspan x="-124.255" y="0">Empower.</tspan></text>
              </g>
              <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Inspire.)">
                <text id="Inspire.-2" data-name="Inspire." transform="translate(379 935)" stroke="#707070" stroke-width="1" font-size="54" font-family="SegoeUI-Bold, Segoe UI" font-weight="700"><tspan x="-93.749" y="0">Inspire.</tspan></text>
              </g>
              <ellipse id="Ellipse_1" data-name="Ellipse 1" cx="205.5" cy="201.5" rx="205.5" ry="201.5" transform="translate(1264 197)" fill="rgba(255,255,255,0.23)"/>
              <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Your_greatest_self_has_been_waiting_for_your_whole_life_don_t_make_it_wait_any_longer.)">
                <text id="Your_greatest_self_has_been_waiting_for_your_whole_life_don_t_make_it_wait_any_longer.-2" data-name="Your greatest self has been waiting for your whole life; don’t make it wait any longer." transform="translate(1282 319)" font-size="35" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600"><tspan x="9.887" y="38">Your greatest self has </tspan><tspan x="7.76" y="85">been waiting for your </tspan><tspan x="3.308" y="132">whole life; don’t make </tspan><tspan x="37.821" y="179">it wait any longer.</tspan></text>
              </g>
              <image id="WiTech_India_COLORED_1_" data-name="WiTech India_COLORED (1)" width="238" height="238" transform="translate(260 197)" xlink:href="/assets/images/ui%20and%20ux/WiTech%20India_COLORED%20(1).png"/>
            </g>
          </svg>
              
        </div>
        <div class="slide w-100">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="background-size: cover;" viewBox="0 0 1920 1080">
            <defs>
              <filter id="Ellipse_1" x="-105" y="-232" width="881" height="747" filterUnits="userSpaceOnUse">
                <feOffset dx="5" dy="5" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <filter id="icons8-virus-50_1_" x="17" y="283" width="87" height="87" filterUnits="userSpaceOnUse">
                <feOffset dy="3" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur-2"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur-2"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <pattern id="pattern" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 100 100">
                <image width="100" height="100" xlink:href="/assets/images/ui%20and%20ux/icons8-protection-mask-100.png"/>
              </pattern>
              <pattern id="pattern-2" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 904 509">
                <image width="904" height="509" xlink:href="/assets/images/ui%20and%20ux/Screenshot%20(99).png"/>
              </pattern>
              <pattern id="pattern-3" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 1216 912">
                <image width="1216" height="912" xlink:href="/assets/images/ui%20and%20ux/pablo-social-distancing-friendship-on-the-phone-stay-home-concept-1.png"/>
              </pattern>
              <pattern id="pattern-4" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 4000 2250">
                <image width="4000" height="2250" xlink:href="/assets/images/ui%20and%20ux/fusion-medical-animation-rnr8D3FNUNY-unsplash.jpg"/>
              </pattern>
              <clipPath id="clip-Web_1920_1">
                <rect width="1920" height="1080"/>
              </clipPath>
            </defs>
            <g id="Web_1920_1" data-name="Web 1920 – 1" clip-path="url(#clip-Web_1920_1)">
              <rect width="1920" height="1080" fill="#fff"/>
              <image id="white-sticky-notes-2" width="894.346" height="864.482" transform="translate(872.235 177.127) rotate(9)" xlink:href="/assets/images/ui%20and%20ux/white-sticky-notes-2.png"/>
              <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Ellipse_1)">
                <ellipse id="Ellipse_1-2" data-name="Ellipse 1" cx="431.5" cy="364.5" rx="431.5" ry="364.5" transform="translate(-101 -228)" fill="#ff8000"/>
              </g>
              <ellipse id="Ellipse_2" data-name="Ellipse 2" cx="391" cy="395" rx="391" ry="395" transform="translate(-142 -335)" fill="#fff"/>
              <ellipse id="Ellipse_3" data-name="Ellipse 3" cx="303.687" cy="269.572" rx="303.687" ry="269.572" transform="translate(-197.121 -45.014) rotate(-19)" fill="#ff8000"/>
              <g id="Ellipse_4" data-name="Ellipse 4" transform="translate(-156 -191)" fill="#fff" stroke="#707070" stroke-width="1">
                <ellipse cx="250.5" cy="274.5" rx="250.5" ry="274.5" stroke="none"/>
                <ellipse cx="250.5" cy="274.5" rx="250" ry="274" fill="none"/>
              </g>
              <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#icons8-virus-50_1_)">
                <image id="icons8-virus-50_1_2" data-name="icons8-virus-50 (1)" width="69" height="69" transform="translate(26 289)" xlink:href="/assets/images/ui%20and%20ux/icons8-virus-50%20(1).png"/>
              </g>
              <image id="icons8-protection-mask-64" width="121.888" height="121.888" transform="translate(111.887 180.188) rotate(-20)" xlink:href="/assets/images/ui%20and%20ux/icons8-protection-mask-64.png"/>
              <image id="WiTech_India_COLORED_1_" data-name="WiTech India_COLORED (1)" width="278" height="278" transform="translate(1068 262)" xlink:href="/assets/images/ui%20and%20ux/WiTech%20India_COLORED%20(1).png"/>
              <text id="WE_ARE_WITH_YOU_IN_THIS_TOGETHER" data-name="WE ARE WITH YOU IN THIS TOGETHER" transform="translate(765 250)" fill="#f60" font-size="52" font-family="BookmanOldStyle-Bold, Bookman Old Style" font-weight="700" style="mix-blend-mode: darken;isolation: isolate"><tspan x="0" y="0">WE ARE WITH YOU IN THIS TOGETHER</tspan></text>
              <image id="pale-virus-test" width="277.309" height="207.982" transform="translate(57.105 759.079) rotate(9)" xlink:href="/assets/images/ui%20and%20ux/pale-virus-test.png"/>
              <rect id="icons8-protection-mask-100" width="137" height="137" rx="68.5" transform="translate(845.5 432.537)" fill="url(#pattern)"/>
              <image id="icons8-soap-dispenser-80" width="130" height="130" transform="translate(1155 522.498)" xlink:href="/assets/images/ui%20and%20ux/icons8-soap-dispenser-80.png"/>
              <rect id="Screenshot_99_" data-name="Screenshot (99)" width="165" height="93" transform="translate(1431 454.537)" fill="url(#pattern-2)"/>
              <rect id="Rectangle_1" data-name="Rectangle 1" width="685" height="220" rx="60" transform="translate(687 694.518)" fill="rgba(255,255,255,0.73)"/>
              <text id="BE_INFORMED._BE_PREPARED._BE_SMART._BE_SAFE." data-name="BE INFORMED.
          BE PREPARED.
          BE SMART.
          BE SAFE." transform="translate(1107.5 775.48)" fill="#ff8000" font-size="30" font-family="ArialRoundedMTBold, Arial Rounded MT"><tspan x="0" y="0" fill="#000">BE </tspan><tspan y="0" fill="#ff8000">INFORMED.</tspan><tspan x="0" y="34" fill="#000">BE </tspan><tspan y="34" fill="#ff8000">PREPARED.</tspan><tspan x="0" y="68" fill="#000">BE </tspan><tspan y="68" fill="#ff8000">SMART.</tspan><tspan x="0" y="102" fill="#000">BE </tspan><tspan y="102" fill="#ff8000">SAFE.</tspan></text>
              <text id="BE_READY_TO_FIGHT_COVID-19" data-name="BE READY TO FIGHT #COVID-19" transform="translate(914 940)" fill="#ff8000" font-size="39" font-family="ArialRoundedMTBold, Arial Rounded MT"><tspan x="0" y="0" fill="#000">BE READY TO</tspan><tspan y="0" fill="#ff8000"> </tspan><tspan y="0" fill="#000">FIGHT </tspan><tspan y="0" fill="#ff8000">#COVID-19</tspan></text>
              <text id="I_protect_You_You_protect_Me_" data-name="I protect You ,You protect Me !" transform="translate(869.5 709.018)" font-size="39" font-family="ArialRoundedMTBold, Arial Rounded MT"><tspan x="0" y="0">I PROTECT YOU ,YOU PROTECT ME !</tspan></text>
              <image id="flame-the-man-got-sick" width="469.026" height="351.769" transform="translate(190 772.518)" xlink:href="/assets/images/ui%20and%20ux/flame-the-man-got-sick.png"/>
              <rect id="pablo-social-distancing-friendship-on-the-phone-stay-home-concept-1" width="345" height="258" rx="35" transform="translate(1596 846)" fill="url(#pattern-3)"/>
              <g id="fusion-medical-animation-rnr8D3FNUNY-unsplash" stroke="#707070" stroke-width="1" opacity="0.15" fill="url(#pattern-4)">
                <rect width="1920" height="1080" stroke="none"/>
                <rect x="0.5" y="0.5" width="1919" height="1079" fill="none"/>
              </g>
            </g>
          </svg>
              

        </div>
        <div class="slide w-100">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="background-size: cover;" viewBox="0 0 1920 1080">
            <defs>
              <linearGradient id="linear-gradient" x1="0.341" y1="0.581" x2="0.726" y2="1" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#fb6d00"/>
                <stop offset="1" stop-color="#e6904d" stop-opacity="0.439"/>
              </linearGradient>
              <filter id="Path_1" x="-24.667" y="817.386" width="1942.667" height="296.614" filterUnits="userSpaceOnUse">
                <feOffset dy="25" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <clipPath id="clip-Web_1920_1">
                <rect width="1920" height="1080"/>
              </clipPath>
            </defs>
            <g id="Web_1920_1" data-name="Web 1920 – 1" clip-path="url(#clip-Web_1920_1)">
              <rect width="1920" height="1080" fill="#fff"/>
              <rect id="Rectangle_1" data-name="Rectangle 1" width="1920" height="1080" fill="#fff"/>
              <image id="lauren-mancke-aOC7TSLb1o8-unsplash" width="1920" height="1276" transform="translate(0 -98)" opacity="0.22" xlink:href="/assets/images/ui%20and%20ux/lauren-mancke-aOC7TSLb1o8-unsplash.jpg"/>
              <image id="white-sticky-notes-2" width="812.594" height="785.46" transform="translate(1025.315 94.547) rotate(8)" xlink:href="/assets/images/ui%20and%20ux/white-sticky-notes-2.png"/>
              <image id="icons8-megaphone-64" width="166" height="166" transform="matrix(-0.829, -0.559, 0.559, -0.829, 1805.62, 1008.223)" xlink:href="/assets/images/ui%20and%20ux/icons8-megaphone-64.png"/>
              <rect id="Rectangle_2" data-name="Rectangle 2" width="560" height="199" rx="99.5" transform="translate(1042 155)" fill="rgba(240,233,233,0.29)"/>
              <text id="Witech_India_welcomes_you_and_would_love_to_collaborate_with_you." data-name="Witech India welcomes
          you and would love to
          collaborate with you." transform="translate(1343 321)" font-size="60" font-family="ComicSansMS, Comic Sans MS"><tspan x="-325.02" y="0">Witech India welcomes</tspan><tspan x="-294.199" y="83">you and would love to</tspan><tspan x="-289.673" y="166">collaborate with you.</tspan></text>
              <text id="CALL_FOR_MENTORS_SPEAKERS_FOR_THE_YEAR_2021" data-name="CALL FOR 
          MENTORS/SPEAKERS
          FOR THE YEAR 2021" transform="translate(1343 637)" font-size="60" font-family="Cambria-Bold, Cambria" font-weight="700"><tspan x="-139.673" y="0">CALL FOR </tspan><tspan fill="#fb6d00"><tspan x="-295.591" y="70">MENTORS/SPEAKERS</tspan></tspan><tspan x="-280.356" y="140">FOR THE YEAR 2021</tspan></text>
          <a xlink:title="Instagram" xlink:href="https://www.instagram.com/witech.india/?hl=en" target="_blank">
              
          <image id="icons8-instagram-64" width="82" height="82" transform="translate(61 811)" xlink:href="/assets/images/ui%20and%20ux/icons8-instagram-64.png"/>
          </a>
          <a xlink:title="LinkedIn" xlink:href="https://in.linkedin.com/company/witech-india" target="_blank">  
              
          <image id="icons8-linkedin-48" width="76" height="76" transform="translate(231 811)" xlink:href="/assets/images/ui%20and%20ux/icons8-linkedin-48.png"/>
          </a>
          <a xlink:title="Twitter" xlink:href="https://twitter.com/witech_india?lang=en" target="_blank">    
              
          <image id="icons8-twitter-48" width="62" height="62" transform="translate(395 821)" xlink:href="/assets/images/ui%20and%20ux/icons8-twitter-48.png"/>
          </a>
              <text id="witech.india" transform="translate(96 912)" font-size="20" font-family="Cambria-Bold, Cambria" font-weight="700"><tspan x="-56.572" y="0">witech.india</tspan></text>
              <text id="WiTech_India" data-name="WiTech India" transform="translate(260 912)" font-size="20" font-family="Cambria-Bold, Cambria" font-weight="700"><tspan x="-60.435" y="0">WiTech India</tspan></text>
              <text id="_WiTech_India" data-name="@WiTech_India" transform="translate(439 912)" font-size="20" font-family="Cambria-Bold, Cambria" font-weight="700"><tspan x="-71.152" y="0">@WiTech_India</tspan></text>
              <a xlink:title="E-mail" xlink:href="mailto:witech.india@gmail.com" target="_blank">     
              
              <image id="icons8-mail-48" width="87" height="87" transform="translate(226 641)" xlink:href="/assets/images/ui%20and%20ux/icons8-mail-48.png"/>
              </a>
              <text id="witech.india_gmail.com" data-name="witech.india@gmail.com" transform="translate(269 747)" font-size="20" font-family="Cambria-Bold, Cambria" font-weight="700"><tspan x="-113.003" y="0">witech.india@gmail.com</tspan></text>
              <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Path_1)">
                <path id="Path_1-2" data-name="Path 1" d="M-15.667,1080C306.667,999,669,954.333,669,954.333S477.667,726,924.333,859,1909,1080,1909,1080Z" fill="url(#linear-gradient)"/>
              </g>
             
            </g>
          </svg>
              
        </div>

        <div class="slide w-100">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="background-size: cover;" viewBox="0 0 1920 1080">
            <defs>
              <filter id="Tasks_and_Responsibilties" x="233" y="480" width="620" height="170" filterUnits="userSpaceOnUse">
                <feOffset dy="3" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <filter id="VOLUNTEERS_REQUIRED" x="206" y="332" width="885" height="118" filterUnits="userSpaceOnUse">
                <feOffset dx="5" dy="5" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur-2"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur-2"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <clipPath id="clip-Web_1920_1">
                <rect width="1920" height="1080"/>
              </clipPath>
            </defs>
            <g id="Web_1920_1" data-name="Web 1920 – 1" clip-path="url(#clip-Web_1920_1)">
              <rect width="1920" height="1080" fill="#fff"/>
              <g id="Rectangle_1" data-name="Rectangle 1" fill="#fff" stroke="#707070" stroke-width="1">
                <rect width="1920" height="1080" stroke="none"/>
                <rect x="0.5" y="0.5" width="1919" height="1079" fill="none"/>
              </g>
              <image id="Human-Rights-Education" width="2303" height="1677" transform="translate(-155 -483)" opacity="0.1" xlink:href="/assets/images/ui%20and%20ux/Human-Rights-Education.png"/>
              <rect id="Rectangle_2" data-name="Rectangle 2" width="1014" height="626" rx="313" transform="translate(39 454)" fill="rgba(236,234,234,0.61)"/>
              <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Tasks_and_Responsibilties)" style="mix-blend-mode: hard-light;isolation: isolate">
                <text id="Tasks_and_Responsibilties-2" data-name="Tasks and Responsibilties" transform="translate(242 486)" font-size="50" font-family="SegoeUI-Bold, Segoe UI" font-weight="700"><tspan x="0" y="54">Tasks and Responsibilties</tspan></text>
              </g>
              <rect id="Rectangle_3" data-name="Rectangle 3" width="1037" height="91" rx="45.5" transform="translate(80 214)" fill="rgba(231,226,226,0.2)"/>
              <text id="Fight_against_Covid-19" data-name="Fight against Covid-19" transform="translate(199 291)" font-size="70" font-family="LucidaBright-DemiItalic, Lucida Bright" font-weight="300" font-style="italic"><tspan x="0" y="0">Fight against Covid-19</tspan></text>
              <rect id="Rectangle_4" data-name="Rectangle 4" width="1270" height="126" rx="63" transform="translate(56 323)" fill="rgba(169,165,165,0.25)" opacity="0.27"/>
              <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#VOLUNTEERS_REQUIRED)">
                <text id="VOLUNTEERS_REQUIRED-2" data-name="VOLUNTEERS REQUIRED" transform="translate(210 405)" fill="#fa5300" font-size="63" font-family="SegoeScript-Bold, Segoe Script" font-weight="700"><tspan x="0" y="0">VOLUNTEERS REQUIRED</tspan></text>
              </g>
              <image id="WiTech_India_COLORED_1_" data-name="WiTech India_COLORED (1)" width="120" height="120" transform="translate(1126 214)" xlink:href="/assets/images/ui%20and%20ux/WiTech%20India_COLORED%20(1).png"/>
              <rect id="Rectangle_5" data-name="Rectangle 5" width="676" height="83" rx="41.5" transform="translate(205 586)" fill="#fff"/>
              <rect id="Rectangle_6" data-name="Rectangle 6" width="676" height="84" rx="42" transform="translate(208 682)" fill="#fff"/>
              <rect id="Rectangle_7" data-name="Rectangle 7" width="676" height="73" rx="36.5" transform="translate(208 784)" fill="#fff"/>
              <rect id="Rectangle_8" data-name="Rectangle 8" width="676" height="85" rx="42.5" transform="translate(208 878)" fill="#fff"/>
              <rect id="Rectangle_9" data-name="Rectangle 9" width="676" height="78" rx="39" transform="translate(208 980)" fill="#fff"/>
              <text id="Know_information_about_bed_availability_oxygen_supply" data-name="Know information about bed availability,oxygen supply" transform="translate(210 633)" font-size="24" font-family="LucidaBright-DemiItalic, Lucida Bright" font-weight="300" font-style="italic"><tspan x="0" y="0">Know information about bed availability,oxygen supply</tspan></text>
              <text id="Nearby_catering_services_available_for_covid_patients." data-name="Nearby catering services available for covid patients." transform="translate(229 1019)" font-size="24" font-family="LucidaBright-DemiItalic, Lucida Bright" font-weight="300" font-style="italic"><tspan x="0" y="0">Nearby catering services available for covid patients.</tspan></text>
              <text id="Current_data_about_corona_cases_district_and_statewise." data-name="Current data about corona cases district and statewise." transform="translate(217 933)" font-size="24" font-family="LucidaBright-DemiItalic, Lucida Bright" font-weight="300" font-style="italic"><tspan x="0" y="0">Current data about corona cases district and statewise.</tspan></text>
              <text id="Covid_vaccine_availability_as_per_different_age_groups." data-name="Covid vaccine availability as per different age groups." transform="translate(223 829)" font-size="24" font-family="LucidaBright-DemiItalic, Lucida Bright" font-weight="300" font-style="italic"><tspan x="0" y="0">Covid vaccine availability as per different age groups.</tspan></text>
              <text id="Listen_to_people_about_their_stories_during_covid_time" data-name="Listen to people about their stories during covid time" transform="translate(223 735)" font-size="24" font-family="LucidaBright-DemiItalic, Lucida Bright" font-weight="300" font-style="italic"><tspan x="0" y="0">Listen to people about their stories during covid time</tspan></text>
              <text id="_Connect_us" data-name="
          Connect us" transform="translate(1349 730)" fill="#938484" font-size="35" font-family="ArialRoundedMTBold, Arial Rounded MT"><tspan x="0" y="0"></tspan><tspan x="0" y="40">Connect us</tspan></text>
          <a xlink:title="Facebook" xlink:href="https://www.facebook.com/WiTech-India-109011350876714/?hc_ref=ARQht3tHRWeBAFFs9wbM0B_VcjGukGg3QXKOQ3VGlIqXkmWHWHBvfQm6ANXwamjBP3s&fref=nf&__tn__=kC-R">     
              <image id="icons8-facebook-48_1_" data-name="icons8-facebook-48 (1)" width="89" height="89" transform="translate(1201 803)" xlink:href="/assets/images/ui%20and%20ux/icons8-facebook-48%20(1).png"/>
              </a>
              <a xlink:title="LinkedIn" xlink:href="https://in.linkedin.com/company/witech-india" target="_blank">     
              <image id="icons8-linkedin-48" width="90" height="90" transform="translate(1560 812)" xlink:href="/assets/images/ui%20and%20ux/icons8-linkedin-48.png"/>
              </a>
              <text id="WiTech_India" data-name="WiTech India" transform="translate(1551 930)" fill="#938484" font-size="20" font-family="ArialRoundedMTBold, Arial Rounded MT"><tspan x="0" y="0">WiTech India</tspan></text>
              <text id="WiTech_India-2" data-name="WiTech India" transform="translate(1170 928)" fill="#938484" font-size="20" font-family="ArialRoundedMTBold, Arial Rounded MT"><tspan x="0" y="0">WiTech India</tspan></text>
              <a xlink:title="Twitter" xlink:href="https://twitter.com/witech_india?lang=en" target="_blank">     
              <image id="icons8-twitter-48" width="77" height="77" transform="translate(1385 815)" xlink:href="/assets/images/ui%20and%20ux/icons8-twitter-48.png"/>
              </a>
              <text id="_WiTech_india" data-name="@WiTech_india" transform="translate(1349 928)" fill="#938484" font-size="20" font-family="ArialRoundedMTBold, Arial Rounded MT"><tspan x="0" y="0">@WiTech_india</tspan></text>
            </g>
          </svg>  
        </div>
      </div>
    </div>
    <section id="testimonials">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      
        <div class="carousel-inner">
          <div id="about-carousal" class="carousel-item">
            <h1 class="About-text head-fontt">WHO WE ARE</h1>
            <hr>
            <p class="About-content fonttt">WiTech India is a part of WiTech(Women in Tech)a nonprofit SEC-registered
              organization that was founded by Audrey Pe in 2016.</p>
            <p class="About-content fonttt">We work to bring a positive influence in the minds and lives of people associated
              with us which creates a difference in the society.</p>
          </div>
          <div class="carousel-item">
            <h1 class="About-text head-fontt">MISSION</h1>
            <hr>
            <p class="About-content fonttt">To educate, inspire, and empower the youth to break gender stereotypes and make a
              difference using technology.

            </p>
            <p class="About-content fonttt">To achieve gender equality in the tech industry through increased networking
              opportunities for young women entering the tech industry.</p>
          </div>
          <div class="carousel-item">
            <h1 class="About-text head-fontt">GOALS </h1>
            <hr>
            <p class="About-content fonttt">We focus on encouraging and mentoring people to help them seize numerous
              opportunities and get to grips with problems.</p>
            <p class="About-content fonttt">We are committed to provide accessible communication and training which improves
              understanding and has helped us in promoting equality.</p>
          </div>
          <div class="carousel-item">
            <h1 class="About-text head-fontt">OUR SERVICES</h1>
            <hr>
            <p class="About-content fonttt">We leverage people’s strengths and talents in a way that leads to much greater result
              than what people try to accomplish and do the same .</p>
            <p class="About-content fonttt">Lip service is not our way. We promote and celebrate our agendas as a fundamental
              aspect of what we are and what we do.</p>
          </div>
        </div>
       
        <div style="text-align:center">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>
    </section>
    <section id="features">
      <div class="row">
        <div class="feature-box col-lg-4">
          <i class="fas fa-viruses" style="font-size: 3rem;"></i>
          <h3 class="about-grid head-fontt">Novel Corona Virus</h3>
          <p class="about-content fonttt">Find out about the Covid situation in all the states of India</p>
          <div class="buttonswithin">
          <a type="button" class="btn btn-dark" href="/covid">Find here</a>
          <a type="button" class="btn btn-dark" href="">Edit</a>
          </div>
        </div>
        <div class="feature-box col-lg-4">
          <i class="fas fa-user-friends" style="font-size: 3rem;"></i>
          <h3 class="about-grid head-fontt">Mentors</h3>
          <p class="about-content fonttt">Share your knowledge, experiences or the latest news</p>
          <div class="buttonswithin">
          <a type="button" class="btn btn-dark" href="/forms/mentorform">Visit</a>
          <a type="button" class="btn btn-dark" href="">View</a>
          </div>
        </div>
        <div class="feature-box col-lg-4">
          <i class="fas fa-id-card" style="font-size:3rem;"></i>
          <h3 class="about-grid head-fontt">Volunteers</h3>
          <p class="about-content fonttt">We are looking out for new vision, and strategic talents.</p>
          <div class="buttonswithin">
          <a type="button" class="btn btn-dark" href="/forms/volunteer">Join Us</a>
          <a type="button" class="btn btn-dark" href="">View</a>
          </div>
        </div>
      </div>
    </section>
    <section class="text-center" id="testimonial_section">
      <h3 class="line-2">PEOPLE SAID..</h3>
      <center>
        <hr class="line-teams">
      </center>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div id="testimonial-carousal" class="carousel-item1 align-items-center active">
            <div class="testimonial">
              <div class="avatar mx-auto ">
                <img src="/assets/images/uma_sharma.jpg"  class="rounded-circle img-fluid" style="width: 200px; height: 200px; background-size: cover;" alt="First sample avatar image">
              </div>
              <p>
                <i class="fas fa-quote-left"> </i> WiTech is a great place to work. I am currently working here as an
                intern.Team mates are really helpful and is the right place to learn and grow,so thank you for this
                wonderful oppurtunity.
              </p>
              <h4 class="font-weight-bold">Uma Sharma</h4>
              <h6 class="font-weight-bold my-3">Graphic Designer</h6>
              <!--Review-->
              <i class="fas fa-star blue-text"> </i>
              <i class="fas fa-star blue-text"> </i>
              <i class="fas fa-star blue-text"> </i>
              <i class="fas fa-star blue-text"> </i>
              <i class="fas fa-star-half-alt blue-text"> </i>
            </div>
          </div>

          <div id="testimonial-carousal" class="carousel-item1">
            <div class="testimonial">
              <!--Avatar-->
              <div class="avatar mx-auto ">
                <img src="/assets/images/aditi_aggrawal.jpg" class="rounded-circle img-fluid" style="width: 200px; height: 200px; background-size: cover;" alt="Second sample avatar image">
              </div>
              <!--Content-->
              <p>
                <i class="fas fa-quote-left"> </i> My experience with Witech has been a gratifying and rewarding one.I
                realized that I am surrounded with hardworking and capable people who are always ready to help out.It
                greatly helped me to improve my skills and broadened my vision of approaching situations.
              </p>
              <h4 class="font-weight-bold">Aditi Agarwal</h4>
              <h6 class="font-weight-bold my-3">Content Writing Intern</h6>
              <!--Review-->
              <i class="fas fa-star blue-text"> </i>
              <i class="fas fa-star blue-text"> </i>
              <i class="fas fa-star blue-text"> </i>
              <i class="fas fa-star blue-text"> </i>
              <i class="fas fa-star blue-text"> </i>
            </div>
          </div>
          <!--Second slide-->

          <!--Third slide-->
          <div id="testimonial-carousal" class="carousel-item1">
            <div class="testimonial">
              <!--Avatar-->
              <div class="avatar mx-auto ">
                <img src="/assets/images/aaheli_maitra.jpg" class="rounded-circle img-fluid" style="width: 200px; height: 200px; background-size: cover;" alt="Third sample avatar image">
              </div>
              <!--Content-->
              <p>
                <i class="fas fa-quote-left"> </i> Very young and fresh, does not restrict creativity. Very friendly
                environment which taught me grow and learn so much from a safe and equal space. It has been a really
                great for me.
              </p>
              <h4 class="font-weight-bold">Aaheli Maitra</h4>
              <h6 class="font-weight-bold my-3">intern</h6>
              <!--Review-->
              <i class="fas fa-star blue-text"> </i>
              <i class="fas fa-star blue-text"> </i>
              <i class="fas fa-star blue-text"> </i>
              <i class="fas fa-star blue-text"> </i>
              <i class="far fa-star blue-text"> </i>
            </div>
          </div>
          
          <div id="testimonial-carousal" class="carousel-item1">
            <div class="testimonial">
              <!--Avatar-->
              <div class="avatar mx-auto ">
                <img src="/assets/images/devansh_hirani.jpg" class="rounded-circle img-fluid"style="width: 200px; height: 200px; background-size: cover;" alt="Third sample avatar image">
              </div>
              <!--Content-->
              <p>
                <i class="fas fa-quote-left"> </i> I have had the pleasure of working at WiTech India for about six
                weeks now and the journey has been mind-boggling.I have never worked anywhere wherein the team has
                admired my work remarkbly.WiTech India emphasizes on creating a positive workplace environment!
              </p>
              <h4 class="font-weight-bold">Devansh Hirani</h4>
              <h6 class="font-weight-bold my-3">Human Resources intern</h6>
              <!--Review-->
              <i class="fas fa-star blue-text"> </i>
              <i class="fas fa-star blue-text"> </i>
              <i class="fas fa-star blue-text"> </i>
              <i class="fas fa-star blue-text"> </i>
              <i class="far fa-star blue-text"> </i>
            </div>
          </div>
          <!--Third slide-->

        </div>
        <!--Slides-->
        <!--Controls-->
      </div>
     
      <!-- Carousel Wrapper -->
      <!-- Section: Testimonials v.2 -->
    </section>
    <section class="text-center my-5 p-1">
      <!-- Section heading -->
      <h3 id="teams-contents" class="h1-responsive font-weight-bold my-5">Teams</h3>
      <center>
        <hr class="line-teams">
      </center>
      <span class="team-2">WE WORK WORLDWIDE, HAVE A BIG TEAM WORKING DEDICATEDLY TO SAVE THE CHILD. THE TEAM CONSIST OF
        EXPERTS WHO FEEL CHILDREN'S' DANGER AND ENJOY THE WORK.</span>
      </section>

      <!-- Grid row -->
      <%- include('partials/team')%>
      
    <section id="services" class="services section-bg ">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Departments</h2>

        </div>
        <center>
          <hr class="line-teams">
        </center>
        <div class="row">
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <i id="icon-dept" class="fas fa-coins"></i>
              <h3><a href="/finance">Finance</a></h3>
              <p>Finance department manages the day to day and long term monetary operations and strategy.</p>
              <a href="/finance"><span>read more..</span></a> <i class="bx bx-chevron-right"></i>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <i id="icon-dept" class="fas fa-bullhorn"></i>
              <h3><a href="/marketing-creative">Marketing and Creatives</a></h3>
              <p>Emerging of new influence on the marketing and creatives team brings out extreme possibilities of
                understandable communications.</p>
              <a href="/marketing-creative"><span>read more..</span></a> <i class="bx bx-chevron-right"></i>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <i id="icon-dept" class="fas fa-user-friends"></i>
              <h3><a href="/outreach-public">Outreach and Public Relation</a></h3>
              <p>By building a strong community and partnership, we help to consistently achieve milestones.</p>
              <a href="/outreach-public"><span>read more..</span></a> <i class="bx bx-chevron-right"></i>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <i id="icon-dept" class="fas fa-chart-area"></i>
              <h3><a href="/logs-ops">Logistics and Operation</a></h3>
              <p>Managing the information flow and and structure of production, we potentially contribute to the
                company's work.</p>
              <a href="/logs-ops"><span>read more..</span></a> <i class="bx bx-chevron-right"></i>
            </div>
          </div>

          <div class="col-md-6 mt-4 mt-md-0 offset-md-3">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="500">
              <i id="icon-dept" class="fas fa-laptop-code"></i>
              <h3><a href="/technical">Technical</h3></a>
              <p>All the roles including promoting, communicating, strategising and execution come under our
                surveillance.</p>
              <a href="/technical"><span>read more..</span> <i class="bx bx-chevron-right"></i></a>
            </div>
            </a>
          </div>

        </div>
    </section>
      
    <section class="events" id="recent_events">
      <div class="blog-home2 py-5">
        <div class="container">
          <!-- Row  -->
          <div class="row justify-content-center">
            <!-- Column -->
            <div class="col-md-8 text-center">
              <h2>Recent Events</h2>
              <center>
                <hr class="line-teams">
              </center>
              <h5 class="subtitle font-weight-normal">You can dream, create, design and build the most wonderful place
                in the world…but it requires people to make the dream a reality.
                We are looking out for new vision, eager minds and strategic talent. We believe in a team culture, where
                we work outside the box to get more involved with the customers and collaborators.</h5>
            </div>
            <!-- Column -->
            <!-- Column -->
          </div>
          <div class="row mt-4">
            <!-- Column -->
            <div class="col-md-4 on-hover">
              <div class="card border-0 mb-4">
                <a href="#"><img class="card-img-top" src="/assets/images/robotech.jpg" style="width: 350px; height: 300px;background-size: cover;" alt="wrappixel kit"></a>
                <div
                  class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                  Aug<span class="d-block">31</span></div>
                <h5 class="font-weight-medium mt-3"><a href="#" class="text-decoration-none link">ROBOTECHS</a>
                </h5>
                <div id="show1_events" style="display: none;">WiTech India came up with RoboTechs, a virtual workshop loaded with interactive webinars and interesting talks with distinguished speakers. 
                  It was a one day workshop on "Virtual reality converge with Robotics" and "Robotics Process Automation" in association with IEEE WIE MUJ. It took place on 31st August, 2020. <br>
                  Participants could catch on with practical experience, grasp new technical inputs and follow up interesting talks on Robotics. <br>
                  With a zealful participation and numerous positive feedbacks, this event was a great success.
                  </div>
                <button id="show1_button" onclick=Show1() value="read1">Read More</button>
                <button id="hide1_button" onclick=Hide1()>Hide the content</button>

              </div>
            </div>
            <!-- Column -->
            <div class="col-md-4 on-hover">
              <div class="card border-0 mb-4">
                <a href="#"><img class="card-img-top" src="/assets/images/pseudo.jpg" style="width: 350px; height: 300px;background-size: cover;" alt="wrappixel kit"></a>
                <div
                  class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                  July<span class="d-block">17-19</span></div>
                <h5 class="font-weight-medium mt-3"><a href="#" class="text-decoration-none link">PSEUDO SPACES HACKATHON</a>
                </h5>
                <div id="show2_events" style="display: none;">We believe in guiding and empowering the youth about the benefits of their participation in technical fields. Promoting this idea, WiTech India organised Pseudo Space Hackathon which took place from 17th to 19th july, 2020. <br>
                  This three day Hackathon Event took place under our inventive mentors who guided the participants with their knowledge regarding the rapidly growing powerful and preeminent technologies - Artificial Intelligence and Machine Learning & Augmented Reality and Virtual Reality. <br>
                  The interactive sessions with our mentors, virtual workshops and project discussions greatly benefited the entrants.
                  </div>
                <button id="show2_button" onclick=Show2() value="read2">Read More</button>
                <button id="hide2_button" onclick=Hide2()>Hide the content</button>

              </div>
            </div>
            <!-- Column -->
            <div class="col-md-4 on-hover">
              <div class="card border-0 mb-4">
                <a href="#"><img class="card-img-top" src="/assets/images/fifa1.jpg" style="width: 350px; height: 300px;background-size: cover;" alt="wrappixel kit"></a>
                <div
                  class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                  Sept<span class="d-block">26-27</span></div>
                <h5 class="font-weight-medium mt-3"><a href="#" class="text-decoration-none link">FIFA 2020 TOURNAMENT</a></h5>
                <div id="show3_events" style="display: none;">As a drive through our goals, WiTech India organised a fundraising online FIFA 2020 tournament for all the gamers out there. Leading this initiative was a shot of encouragement for the team as well as for the people who joined us from all over India.
                  Besides providing a source of entertainment in these dull pandemic times, it boosted the participation of the youth towards a noble cause. 
                 </div>
                <button id="show3_button" onclick=Show3() value="read3">Read More</button>
                <button id="hide3_button" onclick=Hide3()>Hide the content</button>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <!-- Column -->
            <div class="col-md-4 on-hover">
              <div class="card border-0 mb-4">
                <a href="#"><img class="card-img-top" src="/assets/images/tequiz.png"style="width: 350px; height: 300px;background-size: cover;"  alt="wrappixel kit"></a>
                <div
                  class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                  Oct<span class="d-block">13-14</span></div>
                <h5 class="font-weight-medium mt-3"><a href="#" class="text-decoration-none link">TEQUIZ</a>
                </h5>
                <div id="show4_events" style="display: none;">Taking into consideration to our motive of encouraging the participation of youth in technical field, WiTech India organised TeQuiz, a fun technical quiz that tested the candidates learning, innovative skills and further broadening his/her way of analysing stuff in a unique fun way. It was a great event, with involvement of numerous young technical minds.
                  </div>
                <button id="show4_button" onclick=Show4() value="read4">Read More</button>
                <button id="hide4_button" onclick=Hide4()>Hide the content</button>

              </div>
            </div>
            <!-- Column -->
            <div class="col-md-4 on-hover">
              <div class="card border-0 mb-4">
                <a href="#"><img class="card-img-top" src="/assets/images/annalyn.jpg"style="width: 350px; height: 300px;background-size: cover;"  alt="wrappixel kit"></a>
                <div
                  class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                  Aug<span class="d-block">31</span></div>
                <h5 class="font-weight-medium mt-3"><a href="#" class="text-decoration-none link">SPEAKER SESSION</a>
                </h5>
                <div id="show5_events" style="display: none;">Ms. Annalyn F. Aban, one of the best trainers at the Lego Education Academy, brought light to the Robotech event organised by WiTech India. She is an inspiring personality with specialization in Robotics teaching, mentoring, management and marketing and sales projects and events. Delta Multi Media Inc. PH is her mother's company. She has a creative mind with valuable experience in teaching and leading. Her way of sharing her knowledge inspired each and everyone who participated in the event. 
                  </div>
                <button id="show5_button" onclick=Show5() value="read5">Read More</button>
                <button id="hide5_button" onclick=Hide5()>Hide the content</button>

              </div>
            </div>
            <!-- Column -->
            <div class="col-md-4 on-hover">
              <div class="card border-0 mb-4">
                <a href="#"><img class="card-img-top" src="/assets/images/minahyeon.jpg"style="width: 350px; height: 300px;background-size: cover;"  alt="wrappixel kit"></a>
                <div
                  class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                  July<span class="d-block">17-19</span></div>
                <h5 class="font-weight-medium mt-3"><a href="#" class="text-decoration-none link">MENTOR SESSION</a></h5>
                <div id="show6_events" style="display: none;">"Every great achiever is inspired by a great mentor." <br>
                  Mina Hyeno, the producer of Giioii immersive storytelling studio, mentored our participants of Pseudo Space Hackathon 2020. She is an artist born to be producer, focusing on creating multi user content in VR. Her creative and interactive mentoring session widened the horizons of our event, leading the participants to participate with an extra zeal and positive competitive spirit. 
                 </div>
                <button id="show6_button" onclick=Show6() value="read6">Read More</button>
                <button id="hide6_button" onclick=Hide6()>Hide the content</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="contacts" id="contacts">
      <div style="background: linear-gradient(lightgrey,white);">
        <div class="heading py-4" style="background: linear-gradient(60deg,orange,rgb(250, 114, 52));">
          <div class="container">
            <div class="row">
              <div class="col-md-3 text-light fs-1 px-2" style="font-family: Bree Serif,cursive;">
                CONTACT
              </div>
              <!-- <div class="col-5 py-3 text-light fs-5">Lorem ipsum dolor sit amet consectetur adipisicing
                elit. At
                voluptates sapiente
                similique pariatur sit minus, eveniet quia praesentium fugit ipsa! Lorem ipsum dolor
                sit.</div> -->
            </div>
          </div>
        </div>
        
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="headd fs-4 fw-bold py-5">DROP US A MESSAGE!</div>

              <form action="#" method="#">
                <div class="form-group">
                  <label>Your Name:</label><br>
                  <input type="text" class="form-control" id="nName" name="nName" placeholder="Enter Your Name"
                    required>
                </div><br>

                <div class="form-group">
                  <label>Email address:</label><br>
                  <input type="email" class="form-control" id="nMail" name="nMmail" placeholder="Enter a valid email"
                    required>
                </div><br>

                <div class="form-group">
                  <label for="exampleInputPassword1">Subject:</label><br>
                  <input type="text" class="form-control" id="nSub" name="nSub" placeholder="Subject">
                </div><br>

                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Your Message:</label><br>
                  <textarea class="form-control" id="nMessage" name="nMessage" rows="5" required
                    placeholder="Enter Your Message"></textarea>
                </div><br>
                <input type="button" value="Submit" class="fs-3 my-3 px-5"
                  style="background: linear-gradient(60deg,orange,rgb(250,114,52)); border-radius: 5px 5px; color: white; border: none;
                  text-transform: uppercase;
                  ">
              </form>
            </div>
            
          </div>
        </div>
      </div>
</section>
<!--including footer-->
<%- include('partials/footer')%>
      <script src="/javascript/app.js"></script>
      <script src="/javascript/navbar.js"></script>

</body>
</html>
