
html {
    scroll-behavior: smooth;
  }
@media screen and (max-width: 2000px) {
    [data-aos-delay] {
        transition-delay: 0 ;
    }
}
.bottom-left
{
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Bree Serif', serif;
     color: white;
}
.bottom-right
{
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Bree Serif', serif;
   color: white;
    position: absolute;
    bottom: 8px;
    right: 16px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Bree Serif', serif;
    
  }

.navbar{
    transition:500ms ease-in-out;
    background:fixed;
    padding: 10px 20px;
  }
.navbar.scrolled{
  background-color: #000000;
}
#nav-color
{
   color: #ffffff;
   font-size: 1rem;
   padding: auto;
}
[data-component="slideshow"] .slide {
    display: none;
  }

  [data-component="slideshow"] .slide.active {
    display: block;
  }
#testimonials
{
border-radius: 10px;
background: #F2994A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

text-align: center;
color: white;
padding: 20px 0px;
}
.About-text
{
    font-family: 'Bree Serif', serif;
    font-size: 3.25rem;
}
.carousel-item
{
	padding: 0% 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.About-content
{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.5rem;
}
#features
{
	padding:2% 3%;
	background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
	position: relative;
	z-index: 1;
}
.feature-box
{
	text-align: center;
	padding: 60px 100px;
    box-shadow: 0 4px 8px 0 rgba(5, 5, 5, 0.808);
    transition: 0.3s;
    width: 100%;
    border-radius: 10px;
    margin:0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.feature-box:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.icon
{
	color: #030202;
	font-size: 50px;
}
.icon:hover
{
	color:white;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.about-grid
{
    font-family: 'Bree Serif', serif;
}
.text-center
{
    margin: 100px 0px;
    font-family: 'Bree Serif', serif;
}
.h1-responsive
{
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    line-height: 1px;
}

#testimonial-carousal
{
    background: #F2994A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

	text-align: center;
    height: 5%;
    border-radius: 200px 80px 200px 80px;
    width: 100%;
    margin: auto;
    padding: 10px 80px;
    color: white;
}
.line-2
{
padding: 10px 0px;
}
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 20px 2px;
    background-color: rgb(5, 5, 5);
    border-radius: 50%;
    display: inline-block;
  }
.active,.dot:hover {
    background: #ff7700;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbe01, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
@media only screen and (max-width: 768px) {
    [class*="col-"] {
      width: 100%;
    }
  }
#team-move
{
    margin: 40px;
    background: transparent;
}
 .card-up{
    background: transparent;
    box-shadow: 5px 10px 8px #888888;
 }
 .card-up:hover{
    background: #ff7700;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbe01, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A);
    cursor: pointer;
    color: white;
    transition: ease-in-out;

 }
 .teams-line
 {
    background-color:black;
    width: 100%;
    height:30px; 
 }
 #teams-contents
 {
     display: inline;
 }
 .line-teams
 {
     background-color: #ff7700;
     border: 5px solid rgb(255, 94, 0);
     width: 20%;
 }
 .team-2
 {
     margin: 20px;
     padding-bottom: 10px;
 }
 #services {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 120px 0px;
   
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.icon-box
{
    box-shadow: 5px 10px 8px #888888;
    margin: 30px 30px; 
    padding: 50px;
    border-radius: 20px;
    background: linear-gradient(-45deg, #fd6030, #ff9430, #ffc93c, #ff8303);
	background-size: 400% 400%;
	animation: gradient 3s ease-in-out infinite;
    color:white;
   
}
.icon-box:hover{
    color:black;
    cursor: pointer;
}
.section-title
{
    text-align: center;
}
#icon-dept
{
    font-size: 50px; 
}
.events
{
    margin: 120px 0px;
    padding: 0px;
}
.box{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    height: 70vh;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 10px 8px #888888;
    padding: 10px 20px ;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

}
.box:before,
.box:after{
    content: "";
    background: linear-gradient(-45deg, #fd6030, #ff7e06, #fdb705, #ff8303);
    opacity: 0.5;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    transition: all 0.35s 0s ease-out;
}
.box:hover:before{ bottom: 0; }
.box:after{
    opacity: 0.8;
    bottom: 0;
    top: 100%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transition: all 0.35s 0.2s ease-in;
    border-radius: 120px;
}
.box:hover:after{ top: 25%; }
.box img{
    width: 100%;
    height: 70vh;
    border-radius: 150px;
}
.box .box-content{
    color: #fff;
    text-align: center;
    width: 80%;
    opacity: 0;
    transform: translateX(-50%) translateY(-55%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    overflow: hidden;
    transition: all 0.35s 0.5s ease;
}
.box:hover .box-content{
    opacity: 1;
    transform: translateX(-50%) translateY(-40%);
}
.box .title{
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0;
}
.box .title:after{
    content: '';
    height: 1px;
   /* width: 100px;*/
    margin: 5px auto 3px;
    display: block;
    clear: both;
}
.box .post{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 1px;
}
@media only screen and (max-width:990px){
    .box{ margin: 0 0 30px; }
}
/*Departments styles-Technical*/
.banner
{
    background-image: url('assets/images/tech-banner.jpg');
    background-repeat: no-repeat;
    background-size: 1600px 600px;
    height: 400px;
}

  .tech-head {
    text-align: center;
    font-size: 2.5rem;
    transform: translateY(-600px);
    animation: 0.8s slideIn ease-in-out forwards 1s;
    z-index: 10;
    opacity: 0;
    position: relative;
    color: #ffffff;
  }

  @keyframes slideIn {
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  .tech-events
  {
      margin: 100px;
  }
  .event-head
  {
      text-align: center;
  }
  .tech-events .row
  {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
    background: #fd7a00;

  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
  }
  
  .hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }
  
  .hovereffect:hover h2:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .hovereffect a, .hovereffect p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }
  
  .hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  .bg {  
    background-image:url('assets/images/pgm3.jpg');
    z-index: -1;
    border-radius: 30px;
    filter:contrast(.7) brightness(.7);  
  }
  
  .content {
    align-items:center;
    bottom:0;
    color:rgb(17, 16, 16);
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    position: relative;
    left:0;
    padding:20vw;
    right:0;
    text-align:center;
    top:0;
  }
  
.tech-about {
    font-size: 3rem;
  }
.tech-about-para
{
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
.developers
{
    margin-top: 100px;
    background: linear-gradient(-45deg, #ff3c00, #ffe600, #ff7b00, #c8ff01);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
    border-radius: 30px;
    color: white;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.img-fluid
{
    padding-top: 50px;
}
.developers .row .col-lg-8
{
    font-family: 'Bree Serif', serif;
    padding: 80px;
    font-size: 1.25rem;
}  
.tech-testimonials
{
    margin: 50px 100px;
    border-radius: 100px;
}
.test-title{
    margin-top: 100px;
    font-family: 'Bree Serif', serif;
}
.tech-testimonials img
{
    border-radius: 50%;
}
.team1 {
    font-family: 'Bree Serif', serif;
	color: #f88d00;
}

.team1 h1, .team1 h2, .team1 h3, .team1 h4, .team1 h5, .team1 h6 {
  color: #3e4555;
  font-size: 1.5rem;
}

.team1 .font-weight-medium {
	font-weight: 500px;
}
.team1 .subtitle {
    color: #8d97ad;
    line-height: 25px;
}

.team1 .pro-pic {
  min-height: 200px;
}
.card:hover{
    color: black;
    cursor: pointer;
    background-color: #ff7c01;
    animation: gradient 2s infinite ease-in;
}
/*dean*/
.dean-tech
{
    margin: 100px 25px;
}
.Dean-talk-tech
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bree Serif', serif;
    padding: 10px 0px 30px 0px ;
}
.demo{ 
    background: linear-gradient(-45deg, #ff3c00, #ffe600, #ff7b00, #c8ff01);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
    padding: 30px 30px;
}
.testimonial1 .pic{
    width: 22%;
    padding: 20px 0;
    margin: 10px 6% 0 2%;
    float: left;
    position: relative;
    z-index: 1;
}
.testimonial1 .pic:before,
.testimonial1 .pic:after{
    content: "";
    width: 130px;
    height: 150px;
    background:black;
    position: absolute;
    z-index: -1;
}
.testimonial1 .pic:before{
    top: 0;
    right: -20px;
}
.testimonial1 .pic:after{
    bottom: 0;
    left: -20px;
}
.testimonial1 .pic img{
    width: 100%;
    height: auto;
    border: 5px solid #f5f2f0;
}
.testimonial1 .testimonial-content{
    width: 70%;
    float: right;
}
.testimonial1 .title{
    display: block;
    font-size: 2.5rem;
    font-family: 'Bree Serif', serif;
    font-weight: 500;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    padding-top: 65px;
    padding-left: 15px;
}
.testimonial1 .description{
    font-size: 1.5rem;
    color: #fff;
    font-family: 'Bree Serif', serif;
    margin: 0;
    position: relative;
}



@media only screen and (max-width: 990px){
    .testimonial1{ text-align: center; }
    .testimonial1 .pic{
        width: 200px;
        margin: 0 auto;
        float: none;
    }
   
    .testimonial1 .testimonial-content{
        width: 100%;
        float: none;
    }
    .testimonial1 .title{
        padding: 15px 0 0 0;
    }
    .testimonial1 .post{
        padding: 0;
        margin-bottom: 10px;
    }
    
}
