@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
[data-component="slideshow"] .slide {
    display: none;
  }

  [data-component="slideshow"] .slide.active {
    display: block;
  }
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Bree Serif', serif;
}
.active,.dot:hover {
    background: #ff7700;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbe01, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 20px 10px;
}
.map
{
    margin: auto;
    width: 70%;
    height: 70%;
    
}
@media only screen and (max-width:768px){
    .map{
        width:100%;
        height:100%;
    }
}
    
.map path{
    stroke:black;
    stroke-width: 5px;
}
.title_covid
{
    text-align: center;
    margin: 50px 0px;
    background: linear-gradient(-45deg, #ff3c00, #ffe600, #ff7b00, #c8ff01);
	background-size: 400% 400%;
    border-radius: 30px;
	animation: gradient 5s ease infinite;
}
.description_covid
{
    text-align: center;
}
.states {
    border-collapse: collapse;
    margin: 130px 0;
    border-radius: 20%px;
    font-size: 0.9em;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.states tr th {
    background-color: #ff8800;
    color: #ffffff;
    text-align: left;
}
.states th,
.states td {
    padding: 12px 15px;
}

.states td, .states th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 600px;
  }
  
.states tr:nth-child(even){background-color: #f2f2f2;}
  
.states tr:hover {background-color: #ddd;
cursor: pointer;}

#myBtn {
    /* display: none; Hidden by default */
    position: fixed; /* Fixed/sticky position */ 
    height: 40px;
    width: 42px;
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    
    cursor: pointer; /* Add a mouse pointer on hover */
    /* padding: 15px; Some padding  */
    border-radius: 100px; /* Rounded corners */
    /* font-size: 18px; Increase font size */
  }
  .newwws .carousel-inner .carousel-item{
      overflow:scroll;
      height:300px;
  }
  .animm:hover{
      color: rgb(255, 94, 0);
  }


@media only screen and (max-width:768px){

.carousel-inner,
.carousel,
.carousel-item {
    height:400px;
    padding:0px 35px;
    font-family: 'Bree Serif', serif;
}
}
.carousel-inner,
.carousel,
.carousel-item {
    font-family: 'Bree Serif', serif;;
   
}


.carousel-inner>.carousel-item.carousel-item-next,
.carousel-inner>.carousel-item.active.carousel-item-right {
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    top: 0;

}

.carousel-inner>.carousel-item.carousel-item-prev,
.carousel-inner>.carousel-item.active.carousel-item-left {
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    top: 0;

}

.carousel-inner>.carousel-item.next.carousel-item-left,
.carousel-inner>.carousel-item.carousel-item-prev.carousel-item-right,
.carousel-inner>.carousel-item.active {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    top: 0;
}
  