

.banner
{
    background-image: url('/assets/images/tech-banner.jpg');
    background-repeat: no-repeat;
    background-size: 1600px 600px;
    height: 400px;
}

  .tech-head {
    text-align: center;
    font-size: 2.5rem;
    transform: translateY(-600px);
    animation: 0.8s slideIn ease-in-out forwards 1s;
    z-index: 10;
    opacity: 0;
    position: relative;
    color: #ffffff;
  }

  @keyframes slideIn {
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  .tech-events
  {
      margin: 100px;
  }
  .event-head
  {
      text-align: center;
  }
  .tech-events .row
  {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
    background: #fd7a00;

  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
  }
  
  .hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }
  
  .hovereffect:hover h2:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .hovereffect a, .hovereffect p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }
  
  .hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  .bg {  
    background-image:url('/assets/images/pgm3.jpg');
    z-index: -1;
    border-radius: 30px;
    filter:contrast(.7) brightness(.7);  
  }
  
  .content {
    align-items:center;
    bottom:0;
    color:rgb(17, 16, 16);
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    position: relative;
    left:0;
    padding:20vw;
    right:0;
    text-align:center;
    top:0;
  }
  
.tech-about {
    font-size: 3rem;
  }
.tech-about-para
{
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
    text-align: justify;
}
.About-content
{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.5rem;
}
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 20px 2px;
    background-color: rgb(5, 5, 5);
    border-radius: 50%;
    display: inline-block;
  }
.active,.dot:hover {
    background: #ff7700;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbe01, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.carousel-item
{
	padding: 0% 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.developers
{
    margin-top: 100px;
    background: linear-gradient(-45deg, #ff3c00, #ffe600, #ff7b00, #c8ff01);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
    border-radius: 30px;
    color: white;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.img-fluid
{
    padding-top: 50px;
}
.developers .row .col-lg-8
{
    font-family: 'Bree Serif', serif;
    padding: 80px;
    font-size: 1.25rem;
}  
#testimonials
{
border-radius: 10px;
background: #F2994A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

text-align: center;
color: white;
padding: 20px 0px;
}

.tech-testimonials
{
    margin: 50px 100px;
    border-radius: 100px;
}
.test-title{
    margin-top: 100px;
    font-family: 'Bree Serif', serif;
}
.tech-testimonials img
{
    border-radius: 50%;
}
.team1 {
    font-family: 'Bree Serif', serif;
	color: #f88d00;
}

.team1 h1, .team1 h2, .team1 h3, .team1 h4, .team1 h5, .team1 h6 {
  color: #3e4555;
  font-size: 1.5rem;
}

.team1 .font-weight-medium {
	font-weight: 500px;
}
.team1 .subtitle {
    color: #8d97ad;
    line-height: 25px;
}

.team1 .pro-pic {
  min-height: 200px;
}
.card:hover{
    color: black;
    cursor: pointer;
    background-color: #ff7c01;
    animation: gradient 2s infinite ease-in;
}
/*dean*/

.dean-tech
{
    margin: 100px 25px;
}
.Dean-talk-tech
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bree Serif', serif;
    padding: 10px 0px 30px 0px ;
}
.demo{ 
    background: linear-gradient(-45deg, #ff3c00, #ffe600, #ff7b00, #c8ff01);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
    padding: 30px 30px;
}
.testimonial1 .pic{
    width: 22%;
    padding: 20px 0;
    margin: 10px 6% 0 2%;
    float: left;
    position: relative;
    z-index: 1;
}
.testimonial1 .pic:before,
.testimonial1 .pic:after{
    content: "";
    width: 130px;
    height: 150px;
    background:black;
    position: absolute;
    z-index: -1;
}
.testimonial1 .pic:before{
    top: 0;
    right: -20px;
}
.testimonial1 .pic:after{
    bottom: 0;
    left: -20px;
}
.testimonial1 .pic img{
    width: 100%;
    height: auto;
    border: 5px solid #f5f2f0;
}
.testimonial1 .testimonial-content{
    width: 70%;
    float: right;
}
.testimonial1 .title{
    display: block;
    font-size: 2.5rem;
    font-family: 'Bree Serif', serif;
    font-weight: 500;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    padding-top: 65px;
    padding-left: 15px;
}
.testimonial1 .description{
    font-size: 1.5rem;
    color: #fff;
    font-family: 'Bree Serif', serif;
    margin: 0;
    position: relative;
}



@media only screen and (max-width: 990px){
    .testimonial1{ text-align: center; }
    .testimonial1 .pic{
        width: 200px;
        margin: 0 auto;
        float: none;
    }
   
    .testimonial1 .testimonial-content{
        width: 100%;
        float: none;
    }
    .testimonial1 .title{
        padding: 15px 0 0 0;
    }
    .testimonial1 .post{
        padding: 0;
        margin-bottom: 10px;
    }
    
} 
