body{
    background-color: #F2C94C;
    height: 100%;
    padding-top:73px;
}

#formsuccess-card {
    background: #ff7700;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbe01, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A);
    cursor: pointer;
    color: white;
    transition: ease-in-out;

}

#formsuccess-card button{
    width: auto;
    height: auto;
    margin:1vw auto;
    /* font-size: 1vw; */
    background-color: orangered;
}

#formsuccess-title{
    font-size: 4.1vw;
}

#formsuccess-message{
    font-size: 2.23vw;
}