body{
    background-color: #F2C94C;
    height: 100%;
    padding-top:73px;
}
.navbar{
    transition:500ms ease-in-out;
    padding: 10px 20px;
    background-color: black;
  }

#nav-color
{
   color: #ffffff;
   font-size: 1rem;
}


#formsuccess-card{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: stretch;
    text-align: center;
    background-color: darkorange;
    /* align-items: stretch; */
    padding:3vw;
    padding-bottom: auto;
    width: 100%;
    height:100%;
}

#formsuccess-card button{
    width: auto;
    height: auto;
    margin:1vw auto;
    font-size: 1.8vw;
}

#formsuccess-title{
    font-size: 4.1vw;
}

#formsuccess-message{
    font-size: 2.23vw;
}
