
body{
    background: #a8c0ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container
{
/* margin: 10px; */
/* display: flex; */
/* flex-wrap: wrap; */
justify-content: center; 
/* overflow: hidden;  */
display: block;
margin-left: auto;
margin-right: auto;
/* height: fit-content; */
}
.step-row
{
  display: flex;
  align-items: center;
  overflow-x: hidden;
  /* width: 650px; */
  height:50px;
  /* margin: 0 auto; */
  box-shadow: 0 -1px 5px -1px #000;
  position: relative;
  border-radius: 10px;
}
.step-col{
  width: 220px;
  text-align:center;
  color: #333;
  position: relative;
}
#progress
{
  position: absolute;
  height: 100%;
  width: 220px;
  background-color: #f5f5f7;
  transition: 1s;
}
#progress::after
{
  content: '';
  height: 0;
  width: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  position: absolute;
  right: -20px;
  top:0px;
  border-left: 20px solid #f5f5f7;
}
.form-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  

}
.multistep-form-area
{
    border-radius: 100px 100px 100px 100px;
   align-content: center;
   background: #F2C94C;  /* fallback for old browsers */
   /*background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   /*background: -webkit-linear-gradient(to right,  #F2C94C, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
   /*background: linear-gradient(to right,  #F2C94C, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
   box-shadow: 5px 10px 18px #3a3939;
}
.form-box
{
    padding: 2.25rem 10rem;
}

.form-group
{
    margin: 25px 20px;

}

.multistep-container
{
   
    /* margin-top: 30px; */
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    position: relative;
    /* overflow: hidden; */
    height: fit-content;
    width: 50rem;
    /* width: 50vw; */
    height: 55rem;
    /* height: 100vh; */
    color: black;

}
.multistep-form-area{
  box-shadow: 0 0 5px rgba(0,0,0,.5);
    position: relative;
    /* overflow: hidden; */
    height: fit-content;
    width: 50rem;
    /* width: 50vw; */
    height: 55rem;
    /* height: 100vh; */
    color: black;
}
body {
  background: #fff;
}

body {
  animation: scroll 70s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"), #111111;
  color: #eee;
  background-color: #F2C94C;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  
}

@keyframes scroll {
   100%{
    background-position:0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}

.multistep-container .multistep-form-area .form-box
{
    position: absolute;
    top:25px;
    left: 25px;
 
}
.multistep-container .multistep-form-area .form-box h4{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.multistep-container .multistep-form-area .form-box label{
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}
.multistep-container .multistep-form-area .form-box:nth-child(2),
.multistep-container .multistep-form-area .form-box:nth-child(3)
{
    display: none;
}


.multistep-container .multistep-form-area .form-box .button-row .next{
  width: 90%;
}
.multistep-container .multistep-form-area .form-box .button-row {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;
}

label{
    font-size: 4em;
    line-height: 2.5rem;
}

#formalert{
  margin-top: 15px;
  display: none;
}

#radio-box-section{
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin:0;
}
#radio-box-section p{
  padding: 0;
  margin: auto;
}
#radio-box-section .form-group{
  padding: 0;
  margin: auto;
}
#radio-box-section .form-group input{
  margin-top:12px;
}
@media only screen and (max-width: 992px){
  .step-col{
    width: 170px;
  }
}
@media only screen and (max-width: 768px){
  .step-col{
    width: 120px;
  }
}

