.navbar{
  transition:500ms ease-in-out;
  background:fixed;
  padding: 10px 35px 10px 50px;
}
@media(max-width:768px){
  .navbar
  {
    transition:500ms ease-in-out;
    background:fixed;
    padding: 10px 20px 10px 20px;
  }
}
.navbar.scrolled{
background-color: #ffffff;
/* color: #ffffff !important; */
}
@media(max-width:768px){
  a #title_1
  {
    font-size: 5px;
  }
}
#nav-color
{
color:black;
 font-size: 1rem;
 padding: auto;
 font-weight: 700;
}
a#title_1{
font-size: 2rem;
}
.navbar-collapse ul li a:hover
{
  cursor: pointer;
  border-radius: 10px;
  background-color: orange;
}
@media(max-width:768px)
{
  .navbar-collapse ul li a:hover
{
  cursor: pointer;
 
  background-color: orange;
  border-radius: 10px;
}
}
@media(max-width:768px)
{
  .navbar-collapse
  {
    background-color: #ffffff;
    padding-left:30px ;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 365px){
a.navbar-brand{
  text-align: left;
  font-size: 1.5rem !important;
}

}
@media only screen and (max-width: 327px){

a.navbar-brand{
  text-align: left;
  font-size: 1.2rem !important;
  font-weight: 900;
}
.logo{
  margin-left: 4px !important;
}
}