.container-teams
{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Bree Serif', serif;
    background-image: url(../assets/images/team1.jpg);
    opacity: 0.9;
    background-size:  101% 150%;
    animation: gradient 5s ease-in-out infinite;
      border-radius: 30px;
      padding-top: 30px;
      padding-bottom: 30px;
}
.container-teams:after {
  content: "";
  position: fixed;
  /* top: 0; bottom: 0; left: 0; right: 0;  */
  /* background: rgba(255, 255, 255, 0.20); */
  pointer-events: auto;
}
@keyframes gradient {
	0% {
		background-position: 0% 100%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 0% 100%;
	}
}

main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 4;
  --middle: 3;
  --position: 1;
  /* pointer-events: none; */
  pointer-events: auto;
}

div.item {
  position: absolute;
  width: 300px;
  height: 500px;
  padding:15px;
  opacity: 1;
  background-color: coral;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: black; */
  border-radius: 30px;
  box-shadow: 5px 10px 18px #888888;
  justify-content: center;
}

#carousel:hover
{
    /* box-shadow: rgb(0 0 0 / 80%) 0px 40px 58px -16px, */
    /* rgb(0 0 0 / 72%) 0px 30px 22px -10px; */
  transform: scale(1.03);
  border-color: rgba(249, 249, 249, 0.8);
}

div.item:nth-of-type(1) {
  --offset: 1;
  background-image: linear-gradient(to top, #fcfcfc 0%, white 100%);
}

div.item:nth-of-type(2) {
  --offset: 2;
  background-image: linear-gradient(to top, #fcfcfc 0%, white 100%);
}

div.item:nth-of-type(3) {
  --offset: 3;
  background-image: linear-gradient(to top, #fcfcfc 0%, white 100%);

}

div.item:nth-of-type(4) {
  --offset: 4;
  background-image: linear-gradient(to top, #fcfcfc 0%, white 100%);
}

.select-button {
  text-align: center;
}

 .select-button input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: red;
} 

/* .select-button input:nth-child(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
} */

.select-button input:nth-of-type(1):checked ~ main#carousel {
  --position: 1; 
}

.select-button input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

/* .select-button input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
} */

.select-button input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
/* 
.select-button input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
} */

.select-button input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

/* .select-button input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
} */

.item p{
  padding:0px 10px;
  text-align: center;
}
