
body{
    background: #a8c0ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container
{
margin: 10px;
display: flex;
flex-wrap: wrap;
justify-content: center; 
overflow: hidden; 
}

#progress
{
  position: absolute;
  height: 100%;
  width: 660px;
  background-color: #f5f5f7;
  transition: 1s;
}
#progress::after
{
  content: '';
  height: 0;
  width: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  position: absolute;
  right: -20px;
  top:0px;
  border-left: 20px solid #f5f5f7;
}

.form-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.25rem 7rem;
}

.form-group
{
    margin: 25px 20px;

}
body {
  background: #fff;
}

body {
  animation: scroll 70s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"), #111111;
  color: #eee;
  
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  
}

@keyframes scroll {
   100%{
    background-position:0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}

label,p{
    font-size: 1em;
}

.volunteer-box{
    background-color:  #F2C94C;
    margin-left: auto;
    margin-right: auto;
}

.volunteer-box input{
    font-size: 1em;
}

#radio-box-section{
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
}
#radio-box-section p{
    padding: 0;
    margin: auto;
}
#radio-box-section .form-group{
    padding: 0;
    margin: auto;
}

.button-row{
  display: flex;
  justify-content: end;
}