<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/images/witechlogo.png" type="image/png">
    <link rel="stylesheet" href="/stylesheets/departmentform.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <title>Event Planner</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 volunteer-box">
                        <div class="form-box"> 
                            <h2>Event Planner Form</h2>
                            <form action="#" onsubmit="submitForm();return false;">
                                <div class="form-group">
                                    <label for="mName">Full Name</label>
                                    <input type="text" name="mName"  id="mName" placeholder="Name" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="mMail">E-Mail</label>
                                    <input type="email" name="mMail"  id="mMail" placeholder="E-mail" class="form-control" required>
                                </div>                            
                                
                                <div class="form-group">
                                    <label for="mContact">Contact</label>
                                    <input type="text" minlength="10" maxlength="10" name="mContact" id="mContact" placeholder="Contact" class="form-control" required>
                                </div>
                                
                                <div class="form-group">
                                    <label for="education">Educational Details</label>
                                    <textarea name="education" class="form-control" cols="20" rows="4" required></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="cv">CV (Google Docs Link)</label>
                                    <input type="text" name="cv"  id="" placeholder="C.V Link" class="form-control" required>
                                </div>

                                <div class="form-group">
                                    <label for="question1"> Do you have any prior experience in event planning, if yes then narrate briefly any one of your best experience.</label>
                                    <textarea name="question1" class="form-control" cols="40" rows="4" required></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="question2"> What software have you used or have an idea in regards to event planning?</label>
                                    <textarea name="question2" class="form-control" cols="40" rows="4" required></textarea>
                                </div>
                                
                                <div class="form-group">
                                    <label for="question3">How do you keep up with the industry trends? What type of events interests you more?</label>
                                    <textarea name="question3" class="form-control" cols="40" rows="4" required></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="question3"> Task:Give a plan of action of a virtual workshop conducted by Wi-Tech India. (Go through the company’s social media platforms and websites to get an idea of the events organized usually.)</label>
                                        <p style="margin: 0%;">1.Name the Workshop</p>
                                        <p style="margin: 0%;">2.Elucidate the who, how and when in the prepared workshop event.</p>
                                        <p style="margin: 0%;">3.Provide a mind map of the entire planning prep</p>
                                        <p style="margin: 0%;">Upload the mind map(in shareable link format)</p>
                                    <textarea name="question3" class="form-control" cols="40" rows="4" required></textarea>
                                </div>


                                <div class="button-row">
                                    <button class="btn btn-primary">Submit</button>
                                </div>
                                <div id="formalert"></div>
                            </form>

                        </div>
                </div>
            </div>
        </div> 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
    <!-- <script src="/javascript/departments/finance/accountform.js"></script> -->
</body>
</html>
