<!DOCTYPE html>
<html lang="en" style="width: 100%;height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-Data</title>
</head>
<body style="height:100%;width: 100%;padding:0;margin:0;">
    <iframe width="100%" height="100%" style="border:1px solid #ccc;" frameborder="0" scrolling="no" src="https://sheet.zoho.com/sheet/published/nuxy5c4f34bfbb334405087a58c2b29c4bf9e?mode=embed"></iframe>
</body>
</html>