<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <link rel="stylesheet" href="/stylesheets/department.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="shortcut icon" type="image/png" href="/assets/images/witechlogo.png">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
  <title>Marketing and Creatives</title>
</head>

<body>
      <%- include('../../partials/navbar') %>
      <section>
      <div id="home" class="banner3 d-flex justify-content-center align-items-center">
        <div class='container projects'>
          <h1 class="tech-head">Marketing and Creatives</h1>
          <div class="overlay"></div>
        </div>
      </div>
    </section>
    <!-- <section class="tech-events">
        <h2 class="event-head">Events</h1>
        <div class="container-tech-event">
        <div class="row">
            <div class="col-lg-3 ">
                <div class="hovereffect">
                    <img class="img-responsive" src="/assets/images/pgm.jpg" alt="">
                        <div class="overlay">
                            <h2>Event 1</h2>
                           
                        </div>
                </div>
            </div>
            <div class="col-lg-3 ">
                <div class="hovereffect">
                    <img class="img-responsive" src="/assets/images/pgm.jpg" alt="">
                        <div class="overlay">
                            <h2>Event 2</h2>
                          
                        </div>
                </div>
            </div>
            <div class="col-lg-3 ">
                <div class="hovereffect">
                    <img class="img-responsive" src="/assets/images/pgm.jpg" alt="">
                        <div class="overlay">
                            <h2>Event 3</h2>
                           
                        </div>
                </div>
            </div>

        </div>
       <center><button type="button" class="btn btn-danger">Apply now</button></center>
        </div>
      </section> -->
    <div class="bg" style="margin:130px 0px;background-image:url('/assets/images/finance.jpg'); background-size:cover;">
      <div class="content">
        <header>
          <h1 class="tech-about text-light">About Us</h1>
          <p class="tech-about-para text-light fontt">Our Marketing and Creatives team at WiTech strives to create a culture of
            collaborations, accountability, and engagement, knowing these traits enable us to perform at the highest
            level.
            It performs to attract site traffic and converting that traffic into new leads for progress.
          </p>
        </header>
      </div>
      </div>
      <section class="developers">
        <div class="row justify-content">
          <div class="col-lg-8  order-sm-1" data-aos="fade-up" data-aos-delay="200">
              <h2>Social Media Manager</h2>
            <i><p class="font-italic fontt" style="text-align: justify;">Our Marketing & Creative Director leads a cross-functional team of marketing specialists, content writers, and graphic designers professionally to meet the expectations of
               customers associated with WiTech. With in-depth knowledge about brand development, marketing & communications and multiple project management skills they evaluate and implement latest marketing techniques. Further, they produce fresh, innovative work that translates complex ideas into compelling digital experience.
              </p></i>
              <!-- <a href="/marketing-creative/socialmedia/form" type="button" class="btn btn-danger" style="color:white">Register</a> -->
          </div>
          <div class="col-lg-4 order-sm-2" data-aos="fade-up" data-aos-delay="200">
              <img src="/assets/images/lappy.jpg" class="img-fluid bgg">
          </div>
      </div>
      <br>

      <div class="row justify-content">
          <div class="col-lg-8  order-lg-2 order-sm-1" data-aos="fade-up" data-aos-delay="200">
              <h2>Marketing Specialists Intern</h2>
             <i><p class="font-italic fontt" style="text-align: justify;">With their profound knowledge on marketing tools and social media platforms, or Marketing Specialists contribute towards market effectiveness and maintain relations with customers by organising and developing customer-relation programs and determining WiTech India’s presence at conventions, meetings and seminars. They organise and implement both inbound 
              and outbound promotional campaigns and marketing activities to reach more customers. 
              </p></i>
              <!-- <a href="/marketing-creative/marketing-spec/form" type="button" class="btn btn-danger" style="color:white">Register</a> -->
          </div>
          <div class="col-lg-4 order-lg-1 order-sm-2" data-aos="fade-up" data-aos-delay="200">
              <img src="/assets/images/lappy2.jpg" class="img-fluid bgg">
          </div>
      </div>
      <br>

      <div class="row justify-content">
        <div class="col-lg-8   order-sm-1" data-aos="fade-up" data-aos-delay="200">
            <h2>Content Writer</h2>
           <i><p class="font-italic fontt" style="text-align: justify;">Our Content Writers handle the technical documentations, blogs and PR articles to build a brand voice across multiple channels. They maintain and monitor social media content using their excellent, editing and content management systems and skills to increase users’ understanding of the content.
             They also assist the marketing team in developing content for advertising campaigns. 
            </p></i>
            <!-- <a href="/marketing-creative/contentwriter/form" type="button" class="btn btn-danger" style="color:white">Register</a> -->
        </div>
        <div class="col-lg-4 order-lg-1 order-sm-2" data-aos="fade-up" data-aos-delay="200">
          <img src="/assets/images/lappy2.jpg" class="img-fluid bgg">
        </div>
    </div>
    <br>
    <div class="row justify-content">
      <div class="row justify-content">
        <div class="col-lg-8  order-lg-2 order-sm-1" data-aos="fade-up" data-aos-delay="200">
          <h2>Graphic Designer</h2>
          <i>
            <p class="font-italic fontt" style="text-align: justify;">Converting their creative vision into appealing
              visualisations is what our Graphic Designers work on. They look after the entire process of defining
              requirements, visualization and create graphics based on the needs of the project.
              They collab with the marketing and content writing teams to produce final designs.
            </p>
          </i>
          <!-- <a href="#" type="button" class="btn btn-danger" style="color:white">Register</a> -->
        </div>
        <div class="col-lg-4 order-lg-1 order-sm-2" data-aos="fade-up" data-aos-delay="200">
          <img src="/assets/images/lappy2.jpg" class="img-fluid bgg">
        </div>
      </div>
      <br>

      </div>
    </section>
    <section class="dean-tech bg-light">
      <h1 class="Dean-talk-tech">Message From dean</h1>
      <div class="demo">
        <div class="container">

          <div class="row">
            <div class="col-md-12">

              <div class="testimonial1">
                <div class="pic">
                  <img
                    style="background: url(/assets/images/Anshika.jpg); width: 250px; height: 300px; background-size: cover;"
                    alt="">
                </div>
                <div class="testimonial-content">
                  <h3 class="title">Anshika Agarwal</h3>

                  <p class="description" style="text-align: justify;">
                    With the growth in technology it is need of the hour to bring people together, combine their
                        ideas and bring out the most efficient.
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="test-title">
      <center>
        <h1>Lets hear what people say...</h1>
      </center>
    </section>
    <section id="testimonials" class="tech-testimonials">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" style="color: black;" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner fontt">
          <div id="about-carousal" class="carousel-item active">
            <img src="/assets/images/male.png
            " alt="" srcset="" class="bgg">
            <hr>
            <i class="fas fa-quote-left"></i>
            <p class="About-content">WiTech India is a part of WiTech (Women in Tech) a nonprofit SEC-registered
              organization that was founded by Audrey Pe in 2016.</p>
          </div>
          <div class="carousel-item fontt">
            <img src="/assets/images/girl.png" alt="" srcset="" class="bgg">
            <hr>
            <i class="fas fa-quote-left"></i>
            <p class="About-content">To educate, inspire, and empower the youth to break gender stereotypes and make a
              difference using technology.</p>

            </p>
          </div>
          <div class="carousel-item fontt">
            <img src="/assets/images/gal2.png" alt="" srcset="" class="bgg">
            <hr>
            <i class="fas fa-quote-left"></i>
            <p class="About-content">We focus on encouraging and mentoring people to help them seize numerous
              opportunities and get to grips with problems.</p>

          </div>
          <div class="carousel-item fontt">
            <img src="/assets/images/girl.png" alt="" srcset="" class="bgg">
            <hr>
            <i class="fas fa-quote-left"></i>
            <p class="About-content">We leverage people’s strengths and talents in a way that leads to a greater result
              than people try to accomplish the same .</p>
          </div>
        </div>

        <a id="controls" class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
          data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
        <a id="controls" class="carousel-control-next" href="#carouselExampleIndicators" role="button"
          data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
        <div style="text-align:center">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>
    </section>
    <section class="teams-tech">
      <div class="py-5 bg-light team1">
        <div class="container">
          <div class="row justify-content-center mb-3">
            <div class="col-md-7 text-center">
              <h2 style="font-size: 2rem;">Meet Our Team</h2>
              <h6 class="subtitle">You can relay on our amazing features list and also our customer services will be
                great experience for you without doubt and in no-time</h6>
            </div>
          </div>
          <div class="row">
            <!-- column  -->
            <div class="col-lg-6">
              <div class="card card-shadow border-0 mb-4">
                <!-- Row -->
                <div class="row no-gutters">
                  <div class="col-md-5 pro-pic bgg"
                    style="background:url(/assets/images/Anshika.jpg); background-size: cover; height: 200px; width: 200px;">
                    <!-- <div class="card-img-overlay">
                      
                      </div> -->
                  </div>
                  <div class="col-md-7 bg-white">
                    <div class="p-4">
                      <h6 class="mb-3 ">Anshika Agarwal</h6>
                      <p>HOD
                        <a href="https://www.linkedin.com/in/anshika-agarwal-3a71811aa" class="right pr-0"
                          target="_blank">
                          <i class="fab fa-linkedin-in"></i>
                        </a>
                      </p>
                      <p>With the growth in technology it is need of the hour to bring people together, combine their
                        ideas and bring out the most efficient.</p>
                    </div>
                  </div>
                </div>
                <!-- Row -->
              </div>
            </div>
            <!-- column  -->
            <div class="col-lg-6">
              <div class="card card-shadow border-0 mb-4">
                <!-- Row -->
                <div class="row no-gutters card-shadow">
                  <div class="col-md-5 pro-pic bgg" style="background:url(/assets/images/govind.jpg); height: 200px; width: 200px; background-size: cover;">
                    <!-- <div class="card-img-overlay">
                        
                      </div> -->
                  </div>
                  <div class="col-md-7 bg-white">
                    <div class="p-4">
                      <h6 class="mb-3 ">Govind Aggarwal</h6>
                      <p>SMM
                        <a href="https://www.linkedin.com/in/govind-aggarwal-ab198020b" class="right pr-0"
                          target="_blank">
                          <i class="fab fa-linkedin-in"></i>
                        </a>
                      </p>
                      <!-- <p>You can relay on our amazing features list and also our customer services will be great -->
                        <!-- experience.</p> -->
                    </div>
                  </div>
                </div>
                <!-- Row -->
              </div>
            </div>
            <!-- column  -->
          </div>
          <div class="row">
            <!-- column  -->
            <div class="col-lg-6">
              <div class="card card-shadow border-0 mb-4">
                <!-- Row -->
                <div class="row no-gutters card-shadow">
                  <div class="col-md-5 pro-pic bgg"
                    style="background:url(/assets/images/ananya.jpg); background-size: cover;height: 200px; width: 200px; ">
                    <!-- <div class="card-img-overlay">
                       
                      </div> -->
                  </div>
                  <div class="col-md-7 bg-white">
                    <div class="p-4">
                      <h6 class="mb-3 ">Ananya Agarwal</h6>
                      <p>SMM
                        <a href="https://www.linkedin.com/in/ananya-agarwal-902b9120b" class="right pr-0"
                          target="_blank">
                          <i class="fab fa-linkedin-in"></i>
                        </a>
                      </p>
                      <!-- <p>You can relay on our amazing features list and also our customer services will be great -->
                        <!-- experience.</p> -->
                    </div>
                  </div>
                </div>
                <!-- Row -->
              </div>
            </div>
            <!-- column  -->
            <div class="col-lg-6">
              <div class="card card-shadow border-0 mb-4">
                <!-- Row -->
                <div class="row no-gutters card-shadow">
                  <div class="col-md-5 pro-pic bgg"
                    style="background:url(/assets/images/devanshu.jpg); background-size: cover; height: 200px; width: 200px;">
                    <!-- <div class="card-img-overlay">
                       
                      </div> -->
                  </div>
                  <div class="col-md-7 bg-white">
                    <div class="p-4">
                      <h6 class="mb-3 ">Devanshu Maheshwari</h6>
                      <p>Graphic Designer

                        <a href="https://instagram.com/devanshu536?igshid=euenv2e8o5ol" target="_blank">
                          <i class="fab fa-instagram"></i>


                        </a>
                      </p>
                      <!-- <p>You can relay on our amazing features list and also our customer services will be great -->
                        <!-- experience.</p> -->
                    </div>
                  </div>
                </div>
                <!-- Row -->
              </div>
            </div>
            <!-- column  -->
          </div>
        </div>
      </div>
    </section>

    <script src="/javascript/app.js"></script>
</body>



</html>